.game-grid {
    --gap: 2em;
    --line-offset: calc(var(--gap) / 2);
    --line-thickness: 2px;
    --line-color: black;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    overflow: hidden;
    gap: var(--gap);
    width: 50%;
    aspect-ratio: 1 / 1;
}

.game-grid-item {
    position: relative;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-grid-item svg {
    font-size: 10rem;
}

.game-grid-item::before,
.game-grid-item::after {
    content: '';
    position: absolute;
    background-color: var(--line-color);
    z-index: 1;
}

.game-grid-item::before {
    inline-size: var(--line-thickness);
    block-size: 100vh;
    inset-block-start: 0;
    inset-inline-start: calc(var(--line-offset) * -1);
}

.game-grid-item::after {
    inline-size: 100vw;
    block-size: var(--line-thickness);
    inset-inline-start: 0;
    inset-block-start: calc(var(--line-offset) * -1);
}
